<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>H44CK3RS BLOGS | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>
 
<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Villiers Park Blog</li>
<li><a href="/Pages/About_Me.html">About Me (Who Wants to Know)</a></li>
</ul>
</div>
</div>
 
<div class="callout large primary">
<div class="row column text-center">
<h1>Villiers Park Blog</h1>
<h2 class="subheader">Using the lazy simple Methods
<marquee behavior="scroll" direction="left">The more features I add the better My blog is, I guess.</marquee>
</h2>
</div>
</div>
 
<div class="row medium-8 large-7 columns">
<div class="blog-post">
<h3>Journey to Villiers Park

 <small>23/11/2015</small></h3>


<img src="/images/Kings-Cross-Station-Concourse-2.jpg" alt="Kings Cross Station" style="width:850px;height:350px;">

<div style="background-color:black; color:white; padding:20px;">
<p align="justify">
My Journey to Villiers Parks started when I left at 10 am from home to departed to Kings Cross St Pancreas via the 46 bus. 
I was packed, well that’s rush hour for you. It didn’t take long as there wasn’t that much traffic. I later went to the train station 
to print my tickets, I was early and didn’t want to make any mistakes so I went to a helper and asked him where to go.  Fortunately 
for me I was in the wrong station all together, St Pancreas and Kings Cross are two different stations and because I was early I went 
across the street to King Cross. After waiting in the excruciating cold I boarded my train which wasn’t too full. When I got settled in
 and the train started moving I decided to spend the hour reading my A2 Physics Book, which was really interesting as I learnt things I
 was supposed to already know. When I knew it was almost time to get off I packed up and patiently waited. When it came to my stop, Foxton, 
 there was no announcement and the carriage I was in didn’t have any view of the station name, I quickly looked for it when I realised I 
 quickly ran towards the door. It started to beep and I clicked the open button, I was too late! The ticket man came around the second time,
 I told him about my misfortune and he was really nice about it, he reimbursed my ticket so I can go back. So started to go Cambridge I got 
 to see the University and its leisure centre. I has to wait 25 minutes for the train to go back. When I finally got back to Foxton, I just 
 spotted a guy whom I assumed to be part of the Villiers Program, so I went up to him to confirm my suspicious in which he did, I introduced
 myself and we began walking to Villiers Park.</p></div>
<div class="callout">
<ul class="menu simple">
<li><a>Author: Me</a></li>
<li><a href="#">Comments: Will Be Added</a></li>
</ul>
</div>


<h3>Lesson 1: Coding and being Lazy (Software Engineering)<small>23/11/2015</small></h3>
<img src="/images/Home_Lazy.jpg" alt="Lazy Homer" style="width:850px;height:350px;">
<br>
Problem solving includes:</br>
<p><ul>
<li>What do I want to achieve?</li>
<li>How do I approach it?</li>
<li>Who is the user?</li>
<li>What language am I using?</li>
<li>How fast is the program?</li>
<li>What are the meta-problems?</li></ul>
Breaking down the problems into meta problems</p>

<p>
Being Lazy:

<br>You must be smart lazy not just lazy.</br>
<p><ul>
<li>DRY- Don't Repeat yourself</li>
<li>KISS-Keep it Simple/stupid</li>
<li>Don't write code that someone has already written, like this blog for example, who's going to know unless you read it but if you do 
'I can neither confirm nor deny it'.</li>
<li>Don't rush or cut corners you'll shoot yourself in the foot.</lil>
<li>When I mean be lazy, I mean spend the least time to produce the best result.</li></ul></p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Who else?</a></li>
<li><a href="#">Comments: TBC</a></li>
</ul>
</div>

<h3>Lesson 2 Fractals <small>23/11/2015</small></h3>
<img src="/images/Fractals.png" alt="Cool-Fractals" style="width:850px;height:350px;">
<p>The image above is Sierpinski triangle, it is an example of a fractal. So how do you make Sierpinski's Triangle:</p>
<p><ul>
<li>1. Draw three dots to make a triangle, you can label each point A, B, C</li>
<li>2. Draw a dot in-between two of the points</li>
<li>3. Draw a dot half way the Points A; B or C and your current position</li>
<li>4. Repeat step 3</li>
</ul>
You can make fractals on excel too, check this link out: <a href="https://www.youtube.com/watch?v=X68fb7A4N6I">Here</a></p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: ...</a></li>
<li><a href="#">Comments: TBC</a></li>
</ul>
</div>



<h4>Lesson 3 Error Correction <small>25/11/2015</small></h4>
<img src="/images/error.jpg" alt="Error_Correction" style="width:850px;height:350px;">
<p>In telecommunications and networks; <br>Errors may occur during transmission, this means that the receiver will receive corrupted data,
this is an issue.</br><br>How do we get past this?</br>Firstly we need to identify the types of errors</p>
<p><ul>
<li>1. Erasure: This is when you have missing bits</li>
<li>2. Error: When one or more bits are incorrect e.g. 100110 becomes 100111</li>
</ul>
<p>There are may types of error detections such as:
<ul>
<li>Checksum- Where each transmission is followed by a numerical value based on the bits in the message</li>
<li>CRCs- Cyclic redundancy checks</li>
<li>Cryptographic hash functions</li><ul><p>
<p><br>The most common used ones are (also error correcting):</br>
<ul><li>Parity Bits</li>
<li>Hamming Code</li></ul>
</p>
<p> There are two types of parity bits, there are odd and even parities.
In simple terms a parity is a bit that acts as a check within a transmission.
<br>Depending on the transmission if we had for example <b>x0111000</b></br>where x is the
parity (8th bit), if we had even parity it means that the transmission should have an even amount of one's
in this case x will be 1. If it was odd parity then x will be 0 as we will have an odd amount of 1's.
<br>If we had <b>x010101</b> x will be 0 for even parity and x will be 1 for odd parity<p>
<p>But this still isn't bulletproof, what if there were two errors or the error was the parity?</p>
<p>So there is also Hamming code, which is in a sense multiple parity bits but the parity bits are ordered in a way such that almost
every bit is covered by two parities</p>
<p> Why Don't we just have lots of parities over the whole transmission?</p>
<p>Well that's a good question but how efficient will that be and isn't is costly, the more transmission the more expensive.
There is something called the information rate: It is the rate of useful information rate.</p> 

<table>
  <tr>
    <th>Code</th>
    <th>Information rate</th>
    <th>Error Correction</th>
    <th>Bit error rate</th>
  </tr>
  <tr>
    <td>Parity</td>
    <td>n/n+1</td>
    <td>1 Error Correction</td>
    <td>Very Low</td>
  </tr>
  <tr>
    <td>3-Rep</td>
    <td>1/3</td>
    <td>1 error correction</td>
    <td>Low</td>
  </tr>
<tr>
    <td>H(7,4)</td>
    <td>4/7</td>
    <td>1 error correction</td>
    <td>Low</td>
  </tr>
<tr>
    <td>H(15,11)</td>
    <td>11/15</td>
    <td>1 error correction</td>
    <td>Not so Low</td>
  </tr>
<tr>
    <td>H(31,26)</td>
    <td>26/31</td>
    <td>1 error correction</td>
    <td>Not so Low</td>
  </tr>
<tr>
    <td>5-reps</td>
    <td>1/5</td>
    <td>2 error correction</td>
    <td>Medium 5%</td>
  </tr>
<tr>
    <td>7-reps</td>
    <td>1/7</td>
    <td>3 error correction</td>
  </tr>
</table>

<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: ...</a></li>
<li><a href="#">Comments: TBC</a></li>
</ul>
</div>

<h5>Cyphers <small>26/11/2015</small></h5>
<img src="/images/cypher.jpg" alt="Crack this =D" style="width:850px;height:350px;">
<p>When we talk about cyphers people will think about encryption and decryption and AES, hashes...
<br>Did you know:</br>For Advanced Encryption Standard know as AES, 128 bits takes a couple of hour to crack (brute force), 256 bit a few months, 
512 bit over 50 years<br>
<br>I will talk about old cyphers which may be used today</p>
<ul><li>Caeser Cypher- I is when all the characters in a message is shifted x-amount of letters e.g. a shifted 3 times becomes D.</li>
<li><ul>According to wiki: The Caesar cipher is named after Julius Caesar, who, according to Suetonius, used it with a shift of three to 
protect messages of military significance. While Caesar's was the first recorded use of this scheme, other substitution ciphers are known 
to have been used earlier.</ul></li>
<ul>Substitution cypher:<br><img src="/images/SubCypher.jpg"" style="width:273px;height:178px;"></br></ul>

<li>Vigenere Cypher: Plain text (the message) is encrypted using a key word:<br><img src="/images/CypherV.jpg"" style="width:532px;height:510px;"></br></li>
<li>One time pad is seen as uncrackable unless used incorrectly, it is the a technique that is only used once and so can't be cracked. Vigenere Cypher once.</li>
<br><li>The Enigma...<br>The enigma was thought to be uncrackable during WW2, it was used as a means for communication for the Germans and was invented after WW1.
The German Military tweaked the original machine to make it have up to 158,962,555,217,826,360,000 combinations, it was a clever piece of engineering which took code breakers
a long time to crack, with the polish code breakers help the British were able to get an enigma machine. Even with one it was challenging. Alan Turing who is well known for 
the Turing machine is one of many people to be credited with breaking the enigma.<a href="https://www.youtube.com/watch?v=G2_Q9FoD-oQ">Click here for more on the enigma</a></br></li></br></ul>


<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: ...</a></li>
<li><a href="#">Comments: TBC</a></li>
</div>

<h3>TRIPS <small>23/11/2015</small></h3>
<img src="/images/arm.jpg" alt="ARM" style="width:850px;height:350px;">
<p>During my stay at Villiers Park I visited the Computer Science Museum and ARM 
<br></p>

<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: ...</a></li>
<li><a href="#">Comments: TBC</a></li>
</ul>
</div>

</div>

<script type="text/javascript" src="http://counter7.fcs.ovh/private/countertab.js?c=d1aa5567d2d302ccf4386de8c6a67639"></script>

</body>
</html>
