<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>H44CK3RS BLOGS | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>
 
<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Villiers Park Blog</li>
<li><a href="/Pages/About_Me.html">About Me (Who Wants to Know)</a></li>
</ul>
</div>
</div>
 
<div class="callout large primary">
<div class="row column text-center">
<h1>Villiers Park Blog</h1>
<h2 class="subheader">Using the lazy simple Methods
<marquee behavior="scroll" direction="left">The more features I add the better My blog is, I guess.</marquee>
</h2>
</div>
</div>
 
<div class="row medium-8 large-7 columns">
<div class="blog-post">
<h3>Journey to Villiers Park

 <small>23/11/2015</small></h3>


<img src="/images/Kings-Cross-Station-Concourse-2.jpg" alt="Kings Cross Station" style="width:850px;height:350px;">

<div style="background-color:black; color:white; padding:20px;">
<p align="justify">
My Journey to Villiers Parks started when I left at 10 am from home to departed to Kings Cross St Pancreas via the 46 bus. 
I was packed, well that’s rush hour for you. It didn’t take long as there wasn’t that much traffic. I later went to the train station 
to print my tickets, I was early and didn’t want to make any mistakes so I went to a helper and asked him where to go.  Fortunately 
for me I was in the wrong station all together, St Pancreas and Kings Cross are two different stations and because I was early I went 
across the street to King Cross. After waiting in the excruciating cold I boarded my train which wasn’t too full. When I got settled in
 and the train started moving I decided to spend the hour reading my A2 Physics Book, which was really interesting as I learnt things I
 was supposed to already know. When I knew it was almost time to get off I packed up and patiently waited. When it came to my stop, Foxton, 
 there was no announcement and the carriage I was in didn’t have any view of the station name, I quickly looked for it when I realised I 
 quickly ran towards the door. It started to beep and I clicked the open button, I was too late! The ticket man came around the second time,
 I told him about my misfortune and he was really nice about it, he reimbursed my ticket so I can go back. So started to go Cambridge I got 
 to see the University and its leisure centre. I has to wait 25 minutes for the train to go back. When I finally got back to Foxton, I just 
 spotted a guy whom I assumed to be part of the Villiers Program, so I went up to him to confirm my suspicious in which he did, I introduced
 myself and we began walking to Villiers Park.</p></div>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Me</a></li>
<li><a href="#">Comments: TBC</a></li>
</ul>
</div>
</div>
<div class="blog-post">
<h3>Lesson 1: Coding and being Lazy (Software Engineering)<small>23/11/2015</small></h3>
<img src="/images/Home_Lazy.jpg" alt="Lazy Homer" style="width:850px;height:350px;">
<p>

Problem solving includes:
<ul>
What do I want to achieve?
<li>How do I approach it?</li>
<li>Who is the user?</li>
<li>What language am I using?/<li>
<li>How fast is the program?</li>
<li>What are the meta-problems?</li></ul>
Breaking down the problems into meta problems


Being Lazy:

You must be smart lazy not just lazy.
<ul>
<li>DRY- Don't Repeat yourself</li>
<li>KISS-Keep it Simple/stupid</li>
<li>Don't write code that someone has already written, like this blog for example, who's going to know unless you read it but if you do 
'I can neither confirm nor deny it'.</li>
<li>Don't rush or cut corners you'll shoot yourself in the foot.</lil>
<li>When I mean be lazy, I mean spend the least time to produce acceptable work..</li></ul></p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Who else?</a></li>
<li><a href="#">Comments: TBC</a></li>
</ul>
</div>
</div>
<div class="blog-post">
<h3>Lesson 2 Fractals <small>23/11/2015</small></h3>
<img src="/images/Fractals.png" alt="Cool-Fractals" style="width:850px;height:350px;">
<p>Alpha, Beta, Charle, Delta</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: ...</a></li>
<li><a href="#">Comments: TBC</a></li>
</ul>
</div>
</div>
<a href="http://www.freecounterstat.com" target="_Blank" title="page counter">page counter</a><br/>
<script type="text/javascript" src="http://counter7.fcs.ovh/private/countertab.js?c=d1aa5567d2d302ccf4386de8c6a67639"></script>

</body>
</html>
